*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background: rgb(94,93,93);
    background: linear-gradient(180deg, rgba(94,93,93,0.8403010862548144) 64%, rgba(255,255,255,1) 93%);
}