*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

body{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    text-transform: capitalize;
}


h1{
    color: white;
    font-size: 45px;
}

ul li{
    display: block;
}

a{
    color: #595959;
    text-decoration: none;
}

a:hover{
    color: aqua;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.footer {
    background-color: #242628;
    padding-top: 20px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    width: 100%;
    padding: 0 75px;
}

.footer-links h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer-links ul li a:hover {
    color: #FFFFFF;
    padding-left: 6px;
}

.nav-logo img {
    width: 150px;
    height: auto;
}

.nav-logo2 {
    text-align: right;
}
