*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background: rgb(94,93,93);
    background: linear-gradient(180deg, rgba(94,93,93,0.8403010862548144) 64%, rgba(255,255,255,1) 93%);    
}
.table{
    --bs-table-bg: transparent !important;
}
.table thead th{
    color: white;
}
.table tbody tr td{
    color: white;
}
.table-dark{
    --bs-table-bg: #2d2e30c7 !important;
}
.membership-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.membership-enterprice-features{
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.membership-enterprice-features h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 3rem;
}
.table tbody tr .guion{
    color: black;
    font-weight: bold;
}
.th-table-image-free{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.th-table-image-premium{
    display: flex;
    flex-direction: column;
    align-items: center;
}
tbody tr td:nth-child(2),
tbody tr td:nth-child(3) {
    text-align: center;
}
.th-table-image-free img{
    width: 100px;
    height: 70px;
}
.th-table-image-premium img{
    width: 100px;
    height: 70px;
}
.message-enterprice-post-table{
    color: white;
    font-size: 0.5rem;
    align-self: flex-start;
    margin-left: 10%;
}
.membership-developer-features{
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.membership-developer-features h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 3rem;
}
.we-offer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.we-offer-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.we-offer-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.we-offer-item-subtittle{
    background-color: #a7a7a7;
    color: white;
    padding: 20px;
    border-radius: 12px;
    font-size: 1.2rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.we-offer-item img{
    display: block;
    margin: auto;
    width: 70%;
    height: 80%;
}
.tittle-section{
    color: white;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 800px){
    .th-table-image-free img{
        width: 50px;
        height: 35px;
    }
    .th-table-image-premium img{
        width: 50px;
        height: 35px;
    }
    .we-offer-item-subtittle{
        padding: 5px;
        font-size: 1rem;
    }
}
@media (max-width: 450px){
    .th-table-image-free img{
        width: 30px;
        height: 20px;
    }
    .th-table-image-premium img{
        width: 30px;
        height: 20px;
    }
    .we-offer-item-subtittle{
        padding: 5px;
        font-size: 1rem;
    }
}