*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background: rgb(94,93,93);
    background: linear-gradient(180deg, rgba(94,93,93,0.8403010862548144) 64%, rgb(179, 177, 177) 93%);    
}
.nav_container {
    background-color: rgb(160, 154, 154);
}

.nav-logo img {
    width: 50px; /* Tamaño del logo */
    height: 50px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px; /* Espaciado entre elementos de la lista */
    margin-left: 20px; /* Espaciado entre elementos de la lista */
}


.nav-links a {
    color: #fff; /* Color del texto de los enlaces */
    text-decoration: none;
    font-size: 18px; /* Tamaño del texto */
}

.nav-btn {
    background-color: #0734d8; /* Color de fondo del botón */
    border: none;
    color: white;
    padding: 10px 20px; /* Espaciado interno */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; /* Tamaño del texto */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px; /* Borde redondeado */
}

.nav-premium-btn{
    background-color: #49a24c; /* Color de fondo del botón */
    border: none;
    color: white;
    padding: 10px 20px; /* Espaciado interno */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; /* Tamaño del texto */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px; /* Borde redondeado */
}

.nav-menu {
    display: grid;
    grid-template-columns: auto 1fr auto; /* Un espacio para el logo, otro para los enlaces y otro para el botón */
    align-items: center;
}
.table{
    --bs-table-bg: transparent !important;
}
.table thead th{
    color: white;
}
.table tbody tr td{
    color: white;
}
.table-dark{
    --bs-table-bg: #2d2e30c7 !important;
}
.membership-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.membership-enterprice-features{
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.membership-enterprice-features h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 3rem;
}
.table tbody tr .guion{
    color: black;
    font-weight: bold;
}
.th-table-image-free{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.th-table-image-premium{
    display: flex;
    flex-direction: column;
    align-items: center;
}
tbody tr td:nth-child(2),
tbody tr td:nth-child(3) {
    text-align: center;
}
.th-table-image-free img{
    width: 100px;
    height: 70px;
}
.th-table-image-premium img{
    width: 100px;
    height: 70px;
}
.message-enterprice-post-table{
    color: white;
    font-size: 0.5rem;
    align-self: flex-start;
    margin-left: 10%;
}
.membership-developer-features{
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.membership-developer-features h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 3rem;
}
.we-offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.we-offer-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.we-offer-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.we-offer-item-subtittle{
    background-color: #a7a7a7;
    color: white;
    padding: 20px;
    border-radius: 12px;
    font-size: 1.2rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.we-offer-item img{
    display: block;
    margin: auto;
    width: 70%;
    height: 80%;
}
.tittle-section{
    color: white;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 800px){
    .th-table-image-free img{
        width: 50px;
        height: 35px;
    }
    .th-table-image-premium img{
        width: 50px;
        height: 35px;
    }
    .we-offer-item-subtittle{
        padding: 5px;
        font-size: 1rem;
    }
}
@media (max-width: 450px){
    .th-table-image-free img{
        width: 30px;
        height: 20px;
    }
    .th-table-image-premium img{
        width: 30px;
        height: 20px;
    }
    .we-offer-item-subtittle{
        padding: 5px;
        font-size: 1rem;
    }
}