
body {
    background-image: url("../images/background-image-main.png");
    background-repeat: repeat-y; /* Repetir verticalmente */
    background-size: cover; /* Hace que la imagen de fondo cubra todo el cuerpo */
    background-position: center; /* Centra la imagen de fondo */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
}
.nav_container {
    padding: 20px; /* Espaciado interno */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.nav-logo img {
    width: 80px; /* Tamaño del logo */
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px; /* Espaciado entre elementos de la lista */
    margin-left: 20px; /* Espaciado entre elementos de la lista */
}


.nav-links a {
    color: #fff; /* Color del texto de los enlaces */
    text-decoration: none;
    font-size: 18; /* Tamaño del texto */
}

.nav-btn {
    background-color: #0734d8; /* Color de fondo del botón */
    border: none;
    color: white;
    padding: 10px 20px; /* Espaciado interno */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; /* Tamaño del texto */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px; /* Borde redondeado */
}

.nav-premium-btn{
    background-color: #49a24c; /* Color de fondo del botón */
    border: none;
    color: white;
    padding: 10px 20px; /* Espaciado interno */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; /* Tamaño del texto */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px; /* Borde redondeado */
}

.nav-menu {
    display: grid;
    grid-template-columns: auto 1fr auto; /* Un espacio para el logo, otro para los enlaces y otro para el botón */
    align-items: center;
}

.hero-btn {
    background-color: #0734d8; /* Color de fondo del botón */
    margin-left: auto; /* Mueve el botón a la izquierda */
    border: none;
    color: white;
    padding: 5px 20px; /* Espaciado interno */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16; /* Tamaño del texto */
    cursor: pointer;
    border-radius: 10px; /* Borde redondeado */
}

.hero-content{
    width: 90%;
    margin-bottom: 300px;
    text-align: right;
    color: #fefeff;
    h1{
        font-size: 60px;
        margin-bottom: 60px;
    }
    p{
        font-size: 30px;
        margin-bottom: 30px;
    }
}

.container_intro {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una fila */
}

.intro_up {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #fefeff;
    
}


.intro_middle {
    margin: 0 auto;
    display: flex;
    flex-direction: row; /* Default: Horizontal layout */
    justify-content: center; /* Horizontally center the divs */
    align-items: center; /* Vertically center the divs */
    flex-wrap: wrap; /* Allow flex items to wrap to the next line */
    color: #fefeff;
    margin-bottom: 200px;
}
  
.parte-izquierda img {
    width: 300px;
}

.parte-derecha {
    min-width: 40%;
}

@media screen and (max-width: 600px) {
    .intro_middle {
      flex-direction: column;
      align-items: stretch;
    }
  
    .left_div, .right_div {
      width: 80%; 
    }
}

.intro_under {
    width: 80%;
    margin: 0 auto;
    text-align: center; /* Alinea el texto al centro */
    & h1{
        font-size: 30px;
        margin-bottom: 20px;
        color: #fefeff
    }
    & p {
        color: #fefeff
    }
}

.container-demonstration h2{
    width: 80%;
    color: #fefeff;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}

.first-row-demonstration {
    color: #fefeff;
    display: flex;
    justify-content: center; /* Center items horizontally */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.first-row-demonstration img {
    width: 70%; /* Set initial width of each image */
    max-width: 400px; /* Set maximum width for responsiveness */
    margin: 10px; /* Add some spacing between images */
}

.container-demonstration{
    margin-bottom: 80px;
}
  
@media screen and (max-width: 600px) {
.first-row-demonstration img {
    width: 90%; /* Reduce width for smaller screens */
}
}