*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*FAQ*/
button {
    cursor: pointer;
}

/*FAQ Section*/
.faqImg {
    padding: 20px;
    max-height: 40rem;
    max-width: auto;
}

.container-faq {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: justify;
    align-items: center;
    border-radius: 12px;
    background: #D9D9D9;
}

.box button {
    border-radius: 20px;
    padding: 1px 30px;
    font-size: 30px;
}

.box-content {
    margin: 10px;
    padding: 10px;
}

#a1,
#a2,
#a3 {
    color: #4f4e4e;
}

.support {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 40px;
    margin-left: 140px;
    margin-right: 140px;
    align-items: center;
}

.support button {
    border-radius: 12px;
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 20px;
}

/*End of FAQ-aboutUs*/
@media (max-width:1560px) {
    .box {
        display: block;
        text-align: center;
    }

    #a2,
    #a3 {
        display: block;
        text-align: center;
    }

    #a2,
    #a3 ul {
        display: inline-block;
        text-align: left;
    }
}

@media (max-width:800px) {
    .container-faq {
        display: block;
        text-align: center;

    }

    #a1,
    #a2,
    #a3 p {
        font-size: 25px;
    }

    .support{
        display: block;
        text-align: center;
        margin-left: 0;
    margin-right: 0;
    }

}